@import url(https://fonts.googleapis.com/css?family=Roboto:300);


html {
    position: relative;
    min-height: 100%;
    font-family: "Roboto", sans-serif !important;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    color: #FFF;
    background-color: #4CAF50;
  }

  .incorrectInput {
    color: red;
    visibility: hidden;
  }

body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 100px; /* bottom = footer height */
}
h1, h2 {
  color: #76b852;
}

#header {
    width: 1000px;
    background-image: url(../images/header1000px.jpg);
    height: 300px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#headerthin {
    width: 1000px;
    background-image: url(../images/header1000x150.jpg);
    height: 150px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#menu {
    position: absolute;
    top: 0px;
    right: 0px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

#menu li {
    float: left;
}

#menu .active li {
    background-color: #43A047;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #43A047;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

#searchbox {
    padding: 5px;
    background-color: #fff;
    margin: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.searchboxText input,textarea{
    width:60%;
}
/*Textbox class */
.customTextbox {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/*drop down class */
.customDropDown {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 60%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.submitButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 60%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submitButton:hover {
  background: #43A047;
}

.loginform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 20px auto 100px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.loginform input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.loginform button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.loginform button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.loginform .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.loginform .message a {
  color: #4CAF50;
  text-decoration: none;
}
.logincontainer {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.logincontainer:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.logincontainer .info {
  margin: 50px auto;
  text-align: center;
}
.logincontainer .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.logincontainer .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.logincontainer .info span a {
  color: #000000;
  text-decoration: none;
}
.logincontainer .info span .fa {
  color: #EF3B3A;
}

.searchSelect ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #43A047;
    width: 340px;
}

.searchSelect li {
    float: left;
}

.searchSelect li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.searchSelect li a:hover {
    background-color: #4CAF50;
}

#results {
  background-color: white;
  border:3px solid white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin-top: 20px;
}

.row  {
  height: 140px;
  background-color: #f2f2f2;
  color: black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rowTitle {
  height: 30px;
  width: 600px;
}

.rowTitle p {
  margin-top: 0;
  font-size: 20px;

}

.rowTitle a {
  color:#76b852
}

.imgThumb {
  width: 250px;
  height: 140px;
  float: right;
}

.resultDesc {
  width: 400px;
  height: 125px;
  float:left;
  overflow: hidden;
  padding-left: 10px;
}

.resultInfo {
  width: 275px;
  height: 125px;
  float:left;
  overflow: hidden;
  padding-left: 10px;
}


#content {
  background-color: white;
  border:3px solid white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin-top: 20px;
}
/*Float hieght fix:  https://eureka.ykyuen.info/2013/04/04/css-auto-height-adjustment-for-div-which-contains-floating-elements/*/
#content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0px;
}

.contentText {
  width: 550px;
  float: left;
}

.contentImage {
  width: 400px;
  height: 300px;
  float: right;
  margin: 10px;
}

.contentDetails {
  float: left
}

.commentbox {
  padding: 10px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.commentbox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0px;
}

.rowcomment  {
  height: 100px;
  background-color: #f2f2f2;
  color: black;
  padding: 10px;
  margin: 10px;
}

.commentIndividual p {
  font-size: 14px;

}

.sendComment {
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

.commentTextbox {
  outline: 0;
  background: #f2f2f2;
  width: 30%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.sendComment textarea {
background-color: #f2f2f2;
border: none;
}

.submitComment {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.mapThumb {
  height: 150px;
  width: 200px;
}

/*disable maps gui things*/
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
